.navbar{
    display:flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.36);
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    letter-spacing: 1px;
    z-index:10000000000;
}

.h2{
    margin-left:3rem;
    color: white;
    text-decoration: none;
}

router-link{
    text-decoration: none;
}

.derechaNavBar{
    display:flex;
    align-items: center;

}

.derechaNavBar ul{
    display:flex;
    height: 100%;
}

.izquierdaNavBar{
    height: 100%;
}

.izquierdaNavBar:hover{
    cursor: pointer;
}

.derechaNavBar li{
    list-style: none;
    margin-left: 3rem;
    margin-right: 3rem;
    align-self: center;

}

.derechaNavBar ul:hover{
    cursor: pointer;
}
