.principal{
    display: flex;
    justify-content: center;

}

.login{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    position: fixed;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    background: white;
    height: 20rem;
    top: 50%;
    margin-top: -10rem;
    width: 25rem;
    border-radius: 10px;
    color: #6AA8DB;
}

.registrar{

    font-size: 0.5rem;
    width: 17rem;
    text-align: right;
}



.btn{
    
    width: 10rem;
    height: 2rem;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    background: #009688;
    font-weight: 500;
    color:white;
    border: #009688;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;  
    margin-top: 1rem;
  }

  input{
    width: 15rem;
    border: none;
    border-bottom: 1px solid #c8c8c8;

}

input::placeholder{
  color: #bdbdbd;
}

  .redes{
      width: 17rem;
      display: flex;
      justify-content: space-around;
  }

  a{
    color:#bdbdbd;
  }