<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>HAMILTON ES GEI</h1>
    <div>
            <img src="https://media1.tenor.com/images/dba231f6d236ec0f0464512ebcb3b527/tenor.gif?itemid=11807028" width="500px">
            <img src="https://media1.giphy.com/media/z7hasBhVc2Og8/source.gif" alt="">
    </div>
</body>

<style>
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background:linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); */
    }
    img{
        margin: 5rem;
    }
    h1{
        color:red;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
</style>
</html>